# ========================
# Golang .gitignore
# ========================

# Binaries for Programs and Plugins:
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test Binary, Built with `go test -c`:
*.test

# Output of the Go Coverage Tool, Specifically When Used with LiteIDE:
*.out

# Dependency Directories (Remove the Comment Below to Include It)
# vendor/

# Go Workspace File:
go.work

# The Local Development Env-Var JSON Config File:
/configs/config.json

# Local Directory Containing Log Files:
/logs/*

# ========================
# Python .gitignore
# ========================

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# PEP 582
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder & Rope project settings
.spyderproject
.spyproject
.ropeproject

# mkdocs documentation
/site

# mypy, pyre, pytype
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# Cython debug symbols
cython_debug/

# ========================
# MISC .gitignore
# ========================

# Local Directory Containing Log Files:
/logs/*

# macOS Desktop Services Store Files:
.DS_Store

# Local Visual Studio Code Configs, Settings, etc.
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code:
.history/

# Built Visual Studio Code Extensions:
*.vsix